.App
    .wrapper
        .headar
            width: 80%
            margin 0 auto
            .rum
                display: flex
                justify-content: space-between
                .rumDey
                    display: flex
                    width: 80%
                    justify-content: space-between
                    flex-direction: column
                    .mouth
                        display: flex
                        justify-content: space-between
                    .dey
                        display: flex
                        justify-content: space-between
            .sectionRgeen
                display: flex
                justify-content: space-between
                margin-bottom 5px
                .sectionTime
                    display: flex
                    justify-content: space-between
                    width:  80%
                    .timeSection
                        display: flex;
                        flex-wrap: wrap;
                        width: 100px;
                        justify-content: flex-end;
                        .time
                            margin-right 3px
                        .chenge
                            color red
                            margin-right 3px
                        
                
