//import login styl
@import './components/login/style.styl';
.conteiner
    .footer
        width: 800px;
        margin: 0 auto;
        background: lightblue;
        display: flex;
        justify-content: flex-end;
        .footerTitle
            text-decoration none
            cursor: pointer
            width 100px

    .App
        .wrapper
        .react-calendar
            margin 0 auto
            .headar
                width: 80%
                margin 0 auto
                .headerTitle
                    display flex
                    justify-content: center
                .rum
                    display: flex
                    justify-content: space-between
                    .rumDey
                        display: flex
                        width: 80%
                        justify-content: space-between
                        flex-direction: column
                        .mouth
                            display: flex
                            justify-content: space-between
                        .dey
                            display: flex
                            justify-content: space-between
                .sectionRgeen
                    display: flex
                    justify-content: space-between
                    margin-bottom 5px
                    .greenZone
                        margin 0 auto
                        .zoneTitle
                            display: flex
                            justify-content: space-between
                            .zoneText
                                width: 200px
                    .sectionTime
                        display: flex
                        justify-content: space-between
                        width:  80%
                        .timeSection
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: flex-end;
                            .time
                                border: 1px solid
                                margin-right 3px
                                height 20px
                            .change
                                color red
                                margin-right 3px
                        
                
