////////////TimeOfDate
@import './components/TimeOfDate/style.styl'
.App
    width: 100%
    .Month
        .rum
            .rumText
                flex 1
                
            display: flex
            justify-content: space-between
            .sectionRum
                flex 3
                background-color: green
                display: flex
                flex-direction: column
                .rumMouth
                    display: flex
                    justify-content: space-between
                .day
                    display: flex
                    justify-content: space-between
                    .dayTitle
                        display: flex
                        
    
        
