////////////TimeOfDate
@import './components/TimeOfDate/style.styl'
.App
    max-width 1600px
    margin: 0 auto
    .wrapper
        .wrapperSection
            .section
                .secondSection
                    display flex
                    .color
                        display: flex
                        flex-direction: flex
                        width: 1000px
                        .titleTime
                            display: flex
                        .titleColor
                            display: flex
                            margin-bottom 10px
                            align-items: center
                            .colorText
                                flex 1
                            .titleTime
                                .Time
                                    display: flex
                                    flex-wrap: wrap
                                    width: 100px
                                    border: 1px solid 
                                    margin-right 20px
                                    .itTime
                                        width: 50px
                            
                    .sectionTime
                        display: flex
                        width: 800px
                        justify-content: space-around
                        height 100px
                            
                                

                            
                        
        .Month
            .rum
                background-color: #b1a3a3a3;
                max-width: 800px;
                margin: 0 auto;
                .rumText
                .sectionRum
                    .rumMouth
                        display flex
                        margin 0 auto
                        max-width 800px
                        justify-content: space-between
                    .day
                        display: flex
                        margin 0 auto
                        max-width 800px
                        justify-content: space-between
                        .dayTitle
                            
                            display flex
                            .dayTitlelText
                                margin-right: 5px

